h1{
    /* border: 1px solid black; */
    width: 150px;
    height: 95px;
    padding: 25px;
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    font-family: 'Jacques Francois', serif;
    font-size: 40px;
    color: white;
    

}

*{
    background-color: #ffba08;
}

ul{
    margin-top: 35px;
    margin-bottom: auto;
    margin-left: auto; 
    margin-right: auto;
    /* border: 1px solid black; */
    padding: 25px;
    width: 350px;
    height: 300px;
    
    
}


li{
    list-style-type: none;
    text-align: center;
    margin: 30px;
}


a{
    font-family: 'Jacques Francois', serif;
    color: white;
    text-decoration: none;
    font-size: 25px;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: #e67b24;
    padding: 10px;
    transition: background .8s;
    
}
   


a:link{
    color: #ffffff;
}

a:hover{
    
    /* color: red; */
    background-color: rgb(211, 106, 7);


}

